
@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

body, 
h3, 
h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2d3c49;
}

hr {
    border: 0 none;
    height: 4px;
    color: #eee;
    background-color: #eee;
}

.text-thin {
    font-weight: 100;
}

.title {
    margin-top: 60px;
    margin-bottom: 0;
}

.text-muted {
    color: #bcbbbb;
}

.super-title {
    font-size: 50px;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 0;
}

.super-logo {
    margin-top: 10px;
    max-width: 9em;
    max-height: 9em;
}

hr {
    margin-top: 10px;
}

.project-image {

    box-shadow: 20px 20px 50px 20px pink;  
}


@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .super-title {
        font-size: 2em;
        margin-top: 40px;
    }

    .super-logo {
        margin-top: 2em;
    }

    hr {
        margin-top:0;
    }
}
